<div id="contact">
    <h2>Crear Curso</h2>
    <form>
      <mat-form-field class="form-field" >
        <mat-label>nombre:</mat-label>
        <input matInput type="text" name="nombre" placeholder="algebra.." [(ngModel)]="curso.nombre">
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Area:</mat-label>
        <input matInput type="text" name="area" placeholder="matematicas..." [(ngModel)]="curso.area">
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Descripcion:</mat-label>
        <input matInput type="text" name="area" placeholder="detalle del curso" [(ngModel)]="curso.descripcion">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>horas:</mat-label>
        <input matInput type="int" name="horas" placeholder="120..." [(ngModel)]="curso.horas">
      </mat-form-field>
      <br>

      <button mat-raised-button color="primary" (click)="guardar()">Crear</button>
    </form>
  </div>
